In [1]:
import pandas as pd

### Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера.
<br>Определите какому фильму было выставлено больше всего оценок 5.0.

In [2]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
movies = pd.read_csv('ml-latest-small/movies.csv')

filtered = ratings[ratings['rating']==5.0] # Сначала отфильтровываем
joined = filtered.merge(movies, on='movieId', how='left') # Потом объединяем

# Затем группируем по названию фильма, подсчитываем кол-во, сохраняем в переменную count
# и сортируем в обратном порядке
result = joined.groupby(['title']).size().to_frame('count').sort_values(['count'], ascending=[False])
result.head()

                                           count
title
Shawshank Redemption, The (1994)             153
Pulp Fiction (1994)                          123
Forrest Gump (1994)                          116
Matrix, The (1999)                           109
Star Wars: Episode IV - A New Hope (1977)    104

### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [3]:
power = pd.read_csv('power.csv')
countries = ['Estonia', 'Latvia', 'Lithuania']
categories = ['4', '12', '21']
# Сначала отфильтровываем
filtered = power[(power['country'].isin(countries)) 
                 & (power['category'].isin(categories))
                 & (power['year']>=2005)
                 & (power['year']<=2010)
                 & (power['quantity']>0)]
# Далее считаем суммарное потребление
result = filtered[['country', 'quantity']].groupby(['country']).sum()
result.head()

           quantity
country
Estonia     63440.0
Latvia      54844.0
Lithuania  122296.0

### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
<br>https://fortrader.org/quotes
<br>https://www.finanz.ru/valyuty/v-realnom-vremeni

In [4]:
page_url = 'https://yandex.ru/news/quotes/1.html'
df = pd.read_html(page_url, encoding='utf-8')
df[:]

[       Дата    Курс  Изменение
 0  14.08.20  736067       3716
 1  13.08.20  732351        829
 2  12.08.20  731522      -6228
 3  11.08.20  737750       1374
 4  08.08.20  736376       5979
 5  07.08.20  730397      -2409
 6  06.08.20  732806      -1000
 7  05.08.20  733806      -7780
 8  04.08.20  741586       7325
 9  01.08.20  734261        628]