### Дипломная работа по курсу «Python для анализа данных»

1. Загрузить файл hr.csv.
2. Рассчитать основные статистики для переменных (среднее,медиана,мода,мин/макс,сред.отклонение).
3. Рассчитать и визуализировать корреляционную матрицу для переменных.
4. Визуализировать несколько взаимосвязей между переменными.
5. С использованием t-test статистики проверить взаимосвязи между несколькими переменными.
6. Рассчитать сколько работников работает в каждом департаменте.
7. Показать распределение сотрудников по зарплатам.
8. Показать распределение сотрудников по зарплатам совместно с департаментами.
9. Сколько сотрудников покинули компанию.
10. Проверить несколько гипотез для данных, чтобы понять почему сотрудники покидают компанию.
11. Загрузить результат (в формате .ipynb ноутбука) в репозиторий. Разместить ссылку на репозиторий в Личном кабинете

In [3]:
# 1. Загрузить файл hr.csv
import pandas as pd
data = pd.read_csv('HR.csv')
data
# satisfaction_level - уровень удовлетворенности
# last_evaluation - последняя оценка
# number_project - номре проекта
# average_montly_hours - средние часы в месяц
# time_spend_company - стаж в компании (лет)
# work_accident - несчастный случай на работе
# left - уволен
# promotion_last_5years - повышения за последние 5 лет
# sales - отдел
# salary - зарплата

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

In [ ]:
# 2. Рассчитать основные статистики для переменных (среднее,медиана,мода,мин/макс,сред.отклонение).

In [ ]:
# 3. Рассчитать и визуализировать корреляционную матрицу для переменных.

In [ ]:
# 4. Визуализировать несколько взаимосвязей между переменными.

In [ ]:
# 5. С использованием t-test статистики проверить взаимосвязи между несколькими переменными.

In [12]:
# 6. Рассчитать сколько работников работает в каждом департаменте.
result6 = data.groupby('sales').agg(['count'])['satisfaction_level'].sort_values('count', ascending=False)
result6
# Основное кол-во сотрундиков работает в отделе продаж, тех.отделе и поддержке
# Меньше всего в HR и менеджменте

             count
sales
sales         4140
technical     2720
support       2229
IT            1227
product_mng    902
marketing      858
RandD          787
accounting     767
hr             739
management     630

In [44]:
# 7. Показать распределение сотрудников по зарплатам.
result7 = data.groupby('salary').agg(['count'])['satisfaction_level'].sort_values('count', ascending=False)
result7['percent'] = round((result7['count'] / result7.sum()['count'])*100, 1)
result7
# В компании почти половина сотрудников имеет низкий доход, 43% имеет средний доход и только 8.2% высокий

        count  percent
salary
low      7316     48.8
medium   6446     43.0
high     1237      8.2

In [67]:
# 8. Показать распределение сотрудников по зарплатам совместно с департаментами.
result8 = data.groupby(['sales','salary']).agg(['count'])['satisfaction_level']\
    .sort_values(['salary'], ascending=False)
#result8['percent'] = round((result8['count'] / result8.sum()['count'])*100, 1)
# merge с result6, чтобы определить проценты по каждому отделу

# увеличим дефолтный размер графиков
from pylab import rcParams
rcParams['figure.figsize'] = 15,7

# импортируем нужные библиотеки
import matplotlib.pyplot as plt
import re
result8.style.bar()

In [29]:
# 9. Сколько сотрудников покинули компанию.
result9 = data[data['left']==1].agg(['count'])['satisfaction_level']
print(f"Компанию покинуло сотрудников: {result9['count']}")

Компанию покинуло сотрудников: 3571

In [ ]:
# 10. Проверить несколько гипотез для данных, чтобы понять почему сотрудники покидают компанию.